<!doctype html>
<html lang="$$Locale">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#000000" />
    
    <% if(isDev){ %>
      <link rel="shortcut icon" href="/Domain/Media/favicon.ico" />
    <% } else { %>
      <link rel="shortcut icon" href="${ Current.domainDTO.favicon.url }" />
    <% } %>
  
    <link
      rel="stylesheet"
      href="//fonts.googleapis.com/css?family=Open+Sans:300,400,700"
      type="text/css"
    />

    <% if(isDev){ %>
      <script>
        window.locale = "en-US";
        window.lo_static_url = "";
        window.lo_error_file = location.pathname.substring(1) || "<%= error %>";
        window.lo_error_title = "";
        window.lo_error_body = "An error occurred.";
      </script>
    <% } else { %>
      <script>
        window.locale = "$$Locale";
        window.lo_static_url = "$$url/";
        window.lo_error_file = "<%= error %>";
        window.lo_error_title = $$json(title);
        window.lo_error_body = $$json(body);
        window.lo_platform = $$json_api('v2/lo_platform');
      </script>
    <% } %>

    <title>$$lo.platform</title>
  </head>
  <body class="errors">
    <div id="root"></div>
    <script type="module" src="/src/errors/index.tsx"></script>
  </body>
</html>
